div.a {
    text-align: center;
}
* {
    -webkit-padding-start: 0px;
}
body {
    margin-top: 10%;
}
div {
    text-align: center;
    margin: auto;
}
h1 {
    color: white;
}

p {
    margin: auto;
    width: 60%;
    padding: 10px;
    color: wheat;
}
a, a img {text-decoration: none;}


ul#links li {
    display: inline;
    margin: auto;
}

.im {
    width: 200px;
}

li img {
    width: 45px;
    text-decoration: none;
}

.b {
    margin-right: 15px;
    margin-left: 15px;
}
.b2 {
    margin-right: 15px;
    margin-left: 15px;
    font-family:courier;
    color: white;
}